<p>
  <a href="/support/coronavirus/guidance/for-individuals" class="no-underline">Find a list of national resources available for individuals</a>
</p>
<p>
  <a href="/help/for-people" class="no-underline">Find what help is available near you</a>
</p>
<p>
  <a href="https://www.aliss.org" class="no-underline">Find general health and wellbeing information</a>
</p>
