<p class="label label-warning b-margin-full x-padding">
  <span class="b-margin d-block">
    If you need medical help, please follow the guidance on the <a href="https://www.nhsinform.scot/coronavirus#overview" class="no-ext">NHS Inform website</a>. Do not go directly to your GP, hospital or other healthcare environment. If you are at higher risk of severe illness and you need help with food or medicine deliveries, you should contact your Council's <a href="https://www.gov.scot/publications/covid-shielding-contacts" class="no-ext">shielding support service</a>.
  </span>
  A new national helpline has been set up to provide essential assistance to those who do not have family or existing community support, who cannot leave their home and cannot get online, but who are at high risk of contracting COVID-19. Please contact 0800 111 4000 or <a href="https://www.gov.scot/news/support-for-those-at-high-covid-19-risk/" class="no-ext">read further information</a>.
</p>
