$primary-color: #FF595A;
$primary-color-var: FF595A;
$primary-color-light: #ffd6d6;
$primary-color-dark: #C5143D;
$secondary-color: #244B5A;
$secondary-color-var: 244B5A;
$secondary-color-light: lighten($secondary-color, 10%) !default;
$secondary-color-dark: darken($secondary-color, 10%) !default;
$secondary-color-dark-var: 152d36;
$dark-color: #203139;
$gray-color: #D5D8DC;
$gray-color-light: lighten($gray-color, 10%) !default;
$gray-color-dark: #9BA5AD;
$light-color: #FEF9F9;
$light-color-var: FEF9F9;
$success-color: #3BAA34;
$warning-color: #F05B23;
$error-color: #f03823;

$yellow-color: #FFDB00;
$green-color: #BBFDBC;
$blue-color: #45CCE4;
$purple-color: #CCBFDF;
$pink-color: #FEB3B4;

$unit: 1rem;
$padding: 1.2rem;
$thick-line: 5px;
$thin-line: 0.05rem;
$border-radius: 6px;
$heading-font-family: 'Asap';
$heading-font-weight: 800;
$heading-link-weight: 600;
$body-font-family: 'Ingra';
$body-font-weight: 400;
$body-link-weight: 600;
$page-width: 1400px;
$home-splash-height: 25vh;
$transition-speed: .3s;

@import "../node_modules/spectre.css/src/spectre";
@import url('../node_modules/leaflet.markercluster/dist/MarkerCluster.css');
@import url('../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css');

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {
  height: auto;
}
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.container {
  padding: 0 $padding*2;
  margin: 0 auto;
  max-width: $page-width;
  .container {
    padding: 0;
  }
  .page {
    margin-left: -2rem;
    margin-right: -2rem;
    .container {
      padding: 0 $unit*2;
    }
  }
}
.columns {
  margin-left: -($padding);
  margin-right: -($padding);
  .column {
    padding-left: $padding;
    padding-right: $padding;
  }
}

footer,
body {
  background-color: $secondary-color;
  word-break: break-word;
}
.page {
  background-color: white;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body,
input,
select,
textarea,
body * {
  font-family: $body-font-family, sans-serif;
  box-sizing: border-box;
}
body::after,
body::before,
input::after,
input::before,
select::after,
select::before,
textarea::after,
textarea::before,
body *::after,
body *::before {
  box-sizing: border-box;
}

h1 {
  font-size: 2.1rem;
  margin: $unit/2 0 $unit;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
}
h5 {
  font-size: 1.75rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  margin-bottom: 0;
}
a,
.btn,
.chip,
footer h4,
strong {
  font-weight: $body-link-weight;
}

a,
a:visited,
a:link {
  color: $secondary-color;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  transition: border $transition-speed, color $transition-speed, background-color $transition-speed;
}
a:hover {
  color: $secondary-color-dark;
  text-decoration: underline;
}
a:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}
.chip-set a:hover,
a.pure-menu-link:hover {
  text-decoration: none;
}
.chip {
  display: inline-block;
  color: $primary-color-dark !important;
  background-color: lighten($primary-color-light, 23%);
}
.chip:hover {
  color: white !important;
  background-color: $primary-color-dark;
}

a.btn:link,
a.btn:visited,
.btn {
  color: $primary-color;
  border-color: $primary-color;
}
a.btn:hover,
.btn:hover {
  background-color: $primary-color-dark;
  color: white;
  border-color: $primary-color-dark;
}
a.btn:active,
a.btn:focus,
.btn:active,
.btn:focus {
  background-color: inherit;
  color: inherit;
  border-color: inherit;
}
a.btn-primary:link,
a.btn-primary:visited,
.btn-primary,
a.btn-secondary:link,
a.btn-secondary:visited,
.btn-secondary {
  color: white;
}
a.btn-link {
  border: none;
}
a.btn-link:hover {
  background-color: transparent;
}

.mobile-menu {
  .menu {
    .menu-item {
      padding: 0 $unit/2;
    }
    .menu-item>a {
      border-bottom: $thick-line solid transparent;
    }
    .menu-item>a:hover,
    .menu-item>a.active {
      color: #fff !important;
      border-bottom-color: #fff !important;
    }
  }
  .scvo-link-bar {
    background-color: transparent;
    .text-right {
      text-align: left;
    }
    li {
      display: block;
      line-height: 0;
    }
    .text-link {
      display: inline-block;
      color: white;
      line-height: 1.3;
      height: auto;
      margin: auto;
      margin-bottom: 5px;
    }
    .text-link:hover {
      border-bottom-color: white;
    }
    .brand-logo {
      display: none;
    }
  }
}

@media screen and (min-width: 961px) {
  .mobile-search,
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  header.header .navbar-brand img {
    width: 45vw !important;
  }
  .mobile-search,
  .mobile-menu {
    display: block;
    .mobile-contents {
      position: fixed;
      height: 100vh;
      width: 100vw;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: $unit*1.5 $unit;
      z-index: 4;
    }
    &.mobile-search_open,
    &.mobile-menu_open {
      .mobile-background {
        animation: fade-in $transition-speed forwards;
      }
      .mobile-contents {
        animation: fade-in $transition-speed forwards;
      }
    }
    &.mobile-search_closing,
    &.mobile-menu_closing {
      .mobile-background {
        animation: fade-out $transition-speed forwards;
      }
      .mobile-contents {
        animation: fade-out $transition-speed forwards;
      }
    }
    &.mobile-search_closed,
    &.mobile-menu_closed {
      display: none;
    }
  }
  @keyframes fade-in { 100% { opacity: 1; } }
  @keyframes fade-out { 0% { opacity: 1; } 100% { opacity: 0; } }
}

footer {
  padding-top: $unit*2;
  position: relative;
  .footer-main {
    // margin-top: $unit*1.5;
    padding: 0 0 $unit;
    position: relative;
    .membership {
      margin-top: -($unit*3);
      margin-bottom: $unit;
    }
    .contact p {
      margin-top: $unit/3;
    }
    .fa-li span,
    p,
    a,
    h4 {
      color: white;
    }
    p {
      margin: 0;
    }
    ul {
      margin: 0;
      li {
        list-style-type: none;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    ul.fa-ul {
      margin-left: $unit*1.5;
    }
    h4 {
      padding-top: $unit/2;
    }
  }
  .footer-copyright {
    .columns {
      display: flex;
      align-items: center;
    }
    a,
    p {
      color: white;
    }
    p {
      margin: $unit/2 0;
      font-size: 0.8rem;
    }
    .logos {
      text-align: right;
      a:hover {
        text-decoration: none;
      }
      .scvo-logo img {
        height: 42px;
      }
      .sg-logo img {
        height: 35px;
        margin-right: $unit*2;
      }
    }
  }
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-centre {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.pull-centre {
  margin-left: auto !important;
  margin-right: auto !important;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.align-centre {
  display: flex;
  justify-content: center !important;
  align-items: center;
}
.v-padding {
  padding-top: $unit/2 !important;
  padding-bottom: $unit/2 !important;
}
.v-padding-full {
  padding-top: $unit !important;
  padding-bottom: $unit !important;
}
.h-padding {
  padding-left: $unit/2 !important;
  padding-right: $unit/2 !important;
}
.h-padding-full {
  padding-left: $unit !important;
  padding-right: $unit !important;
}
.x-padding {
  padding: $unit/2 !important;
}
.x-padding-full {
  padding: $unit !important;
}
.t-padding {
  padding-top: $unit/2 !important;
}
.b-padding {
  padding-bottom: $unit/2 !important;
}
.l-padding {
  padding-left: $unit/2 !important;
}
.r-padding {
  padding-right: $unit/2 !important;
}
.t-padding-full {
  padding-top: $unit !important;
}
.b-padding-full {
  padding-bottom: $unit !important;
}
.l-padding-full {
  padding-left: $unit !important;
}
.r-padding-full {
  padding-right: $unit !important;
}
.v-margin {
  margin-top: $unit/2 !important;
  margin-bottom: $unit/2 !important;
}
.v-margin-full {
  margin-top: $unit !important;
  margin-bottom: $unit !important;
}
.v-margin-full-bottom {
  margin-bottom: $unit !important;
}
.v-margin-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.h-margin {
  margin-left: $unit/2 !important;
  margin-right: $unit/2 !important;
}
.h-margin-full {
  margin-left: $unit !important;
  margin-right: $unit !important;
}
.t-margin {
  margin-top: $unit/2 !important;
}
.b-margin {
  margin-bottom: $unit/2 !important;
}
.l-margin {
  margin-left: $unit/2 !important;
}
.r-margin {
  margin-right: $unit/2 !important;
}
.t-margin-full {
  margin-top: $unit !important;
}
.b-margin-full {
  margin-bottom: $unit !important;
}
.l-margin-full {
  margin-left: $unit !important;
}
.r-margin-full {
  margin-right: $unit !important;
}
.x-margin {
  margin: $unit/2 !important;
}
.x-margin-full {
  margin: $unit !important;
}
.no-margin {
  margin: 0 !important;
}
.border {
  border-style: solid;
  border-width: 1px;
}
.t-border {
  border-top-style: solid;
  border-top-width: 1px;
}
.l-border {
  border-left-style: solid;
  border-left-width: 1px;
}
.b-border {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.r-border {
  border-right-style: solid;
  border-right-width: 1px;
}
.rounded {
  border-radius: 4px;
}
.tl-rounded {
  border-top-left-radius: 4px;
}
.tr-rounded {
  border-top-right-radius: 4px;
}
.bl-rounded {
  border-bottom-left-radius: 4px;
}
.br-rounded {
  border-bottom-right-radius: 4px;
}
.t-rounded {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.l-rounded {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.b-rounded {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.r-rounded {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.rounded-full {
  border-radius: 16px;
}
.tl-rounded-full {
  border-top-left-radius: 16px;
}
.tr-rounded-full {
  border-top-right-radius: 16px;
}
.bl-rounded-full {
  border-bottom-left-radius: 16px;
}
.br-rounded-full {
  border-bottom-right-radius: 16px;
}
.t-rounded-full {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.l-rounded-full {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.b-rounded-full {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.r-rounded-full {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

@media (max-width: 479px) {
  .no-float-sm {
    float: auto !important;
  }
  .no-t-margin-sm {
    margin-top: 0 !important;
  }
  .no-b-margin-sm {
    margin-bottom: 0 !important;
  }
  .no-l-margin-sm {
    margin-left: 0 !important;
  }
  .no-r-margin-sm {
    margin-right: 0 !important;
  }
  .no-v-margin-sm {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .no-h-margin-sm {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .no-t-padding-sm {
    padding-top: 0 !important;
  }
  .no-b-padding-sm {
    padding-bottom: 0 !important;
  }
  .no-l-padding-sm {
    padding-left: 0 !important;
  }
  .no-r-padding-sm {
    padding-right: 0 !important;
  }
  .no-v-padding-sm {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .no-h-padding-sm {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .t-margin-sm {
    margin-top: $unit/2 !important;
  }
  .b-margin-sm {
    margin-bottom: $unit/2 !important;
  }
  .l-margin-sm {
    margin-left: $unit/2 !important;
  }
  .r-margin-sm {
    margin-right: $unit/2 !important;
  }
  .v-margin-sm {
    margin-top: $unit/2 !important;
    margin-bottom: $unit/2 !important;
  }
  .h-margin-sm {
    margin-left: $unit/2 !important;
    margin-right: $unit/2 !important;
  }
  .t-margin-full-sm {
    margin-top: $unit !important;
  }
  .b-margin-full-sm {
    margin-bottom: $unit !important;
  }
  .l-margin-full-sm {
    margin-left: $unit !important;
  }
  .r-margin-full-sm {
    margin-right: $unit !important;
  }
  .v-margin-full-sm {
    margin-top: $unit !important;
    margin-bottom: $unit !important;
  }
  .h-margin-full-sm {
    margin-left: $unit !important;
    margin-right: $unit !important;
  }
  .t-padding-sm {
    padding-top: $unit/2 !important;
  }
  .b-padding-sm {
    padding-bottom: $unit/2 !important;
  }
  .l-padding-sm {
    padding-left: $unit/2 !important;
  }
  .r-padding-sm {
    padding-right: $unit/2 !important;
  }
  .v-padding-sm {
    padding-top: $unit/2 !important;
    padding-bottom: $unit/2 !important;
  }
  .h-padding-sm {
    padding-left: $unit/2 !important;
    padding-right: $unit/2 !important;
  }
  .t-padding-full-sm {
    padding-top: $unit !important;
  }
  .b-padding-full-sm {
    padding-bottom: $unit !important;
  }
  .l-padding-full-sm {
    padding-left: $unit !important;
  }
  .r-padding-full-sm {
    padding-right: $unit !important;
  }
  .v-padding-full-sm {
    padding-top: $unit !important;
    padding-bottom: $unit !important;
  }
  .h-padding-full-sm {
    padding-left: $unit !important;
    padding-right: $unit !important;
  }
}

::placeholder {
  color: $gray-color;
}

::-moz-selection {
  color: #fff;
  background: $dark-color;
}
::selection {
  color: #fff;
  background: $dark-color;
}