<div class="container b-padding-full b-margin-full">
  <h2>About this website</h2>
  <p>
    This website has been rapidly developed in order to help people and
    communities search for and share offers of local help in response
    to the COVID-19 pandemic. To help people search for and offer help
    more easily, it is open for anyone to use.
  </p>
  <p>
    Please note that this website covers social and community
    assistance, not medical help or advice. If you need medical help,
    please follow the guidance on the <a href="https://www.nhsinform.scot/coronavirus#overview">NHS Inform website</a>. Do not go directly to your GP, hospital or other healthcare environment.
  </p>
  <p>
    It allows organisations to:
  </p>
  <ul>
    <li>
      Share what help they can offer to either the public and/or
      professionals
    </li>
  </ul>
  <ul>
    <li>
      Share what assistance they require
    </li>
  </ul>
  <p>
    It allows the public to:
  </p>
  <ul>
    <li>
      Search for support from organisations in their community,
      using our sophisticated geographical search
    </li>
    <li>
      Find information on how they can volunteer or help in their
      community (including the British Red Cross Reserves)
    </li>
  </ul>
  <p>
    It allows professionals and public services to:
  </p>
  <ul>
    <li>
      Search for support services offered by organisations
    </li>
    <li>
      Share what assistance they require
    </li>
  </ul>
  <p>
    To help people share information rapidly, any user can add listings
    without moderation. This means that information listings are not
    vetted or checked as they are added to the site. Therefore you
    should exercise caution and common sense when making contact with
    organisations and community groups listed on this site. In
    particular, you should:
  </p>
  <ul>
    <li>
      Check the organisation’s online profile (Twitter page,
      Facebook posts)
    </li>
    <li>
      Don’t share financial or personal details with people
      unless you know and trust them
    </li>
  </ul>
  <ul>
    <li>
      Don’t share another person’s contact details unless you
      have their consent to do so
    </li>
  </ul>
  <p>
    Any user can report an inaccurate or suspicious organisational
    listing and we will remove these as soon as we possibly can.
  </p>
  <p>
    Please bear in mind that some groups listed here will be small,
    local groups who may not be able to respond instantly to your
    queries. Most groups will have more information about how you can
    offer or receive help listed on their website/Twitter/Facebook
    pages.
  </p>
  <p>
    Personal data (eg individual contact details) are not stored or
    shared. Users who add organisational listings may include some
    contact information (eg an email or phone number) which is personal
    to them. This use of contact details is a ‘legitimate use’ under
    GDPR, but it's up to individuals and organisations to decide how to
    approach this.
  </p>
  <p>
    If you need medical help, please follow the guidance on the
    <a href="https://www.nhsinform.scot/coronavirus#overview">NHS Inform website</a>. Do not go directly to your GP, hospital or other healthcare environment.
  </p>
</div>