<div class="container">
  <h1>Find help near you</h1>
  <p>
    If you need medical help, please follow the guidance on the <a href="https://www.nhsinform.scot/coronavirus#overview">NHS Inform website</a>. Do not go directly to your GP, hospital or other healthcare environment.
  </p>
  <p>
    You can find organisations that are able to offer non-medical help below.
  </p>


</div>