<div class="">
  <div class="container b-padding-full">
    {{> submission_search_header}}

    {{> submission_search_form path="/help/for-people"}}
    <p class="text-center">
      <a href="/volunteer" class="btn">Volunteer or help out in your community</a>
    </p>
  </div>
</div>
<div class="bg-gray">
  <div class="container v-padding-full">
    <div class="columns">
      <div class="column col-2 col-md-3 col-sm-4 align-centre">
        <span class="fal fa-building fa-5x" aria-hidden="true"></span>
      </div>
      <div class="column col-10 col-md-9 col-sm-8">
        <h3>
          For organisations
        </h3>
        <p>
          <a href="/share" class="no-underline">Share what help you can offer to people and professionals</a>
        </p>
        <p>
          <a href="/share/assistance" class="no-underline">Share what assistance or resources you require</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="">
  <div class="container v-padding-full">
    <div class="columns">
      <div class="column col-2 col-md-3 col-sm-4 align-centre">
        <span class="fal fa-users fa-5x" aria-hidden="true"></span>
      </div>
      <div class="column col-10 col-md-9 col-sm-8">
        <h3>
          For professionals
        </h3>
        <p>
          <a href="/help/for-organisations" class="no-underline">Find local organisations willing to offer non-medical help</a>
        </p>
        <p>
          <a href="/share/assistance" class="no-underline">Share what assistance or resources you require</a>
        </p>
      </div>
    </div>
  </div>
</div>