<div class="container b-padding-full">
  <div class="columns">
    <div class="column col-4 col-md-12">
      <h3>
        For people
      </h3>
      <p>
        <a href="/help/for-people" class="btn btn-primary">Find non-medical help near you</a>
      </p>
      <p>
        <a href="/volunteer" class="btn">Volunteer or help out in your community</a>
      </p>
    </div>
    <div class="column col-4 col-md-12">
      <h3>
        For organisations
      </h3>
      <p>
        <a href="/share">Share what help you can offer to people and professionals</a>
      </p>
      <p>
        <a href="/share/assistance">Share what assistance or resources you require</a>
      </p>
    </div>
    <div class="column col-4 col-md-12">
      <h3>
        For professionals
      </h3>
      <p>
        <a href="/help/for-organisations">Find local organisations willing to offer non-medical help</a>
      </p>
      <p>
        <a href="/share/assistance">Share what assistance or resources you require</a>
      </p>
    </div>
  </div>
  <p>
    If you need medical help, please follow the guidance on the <a href="https://www.nhsinform.scot/coronavirus#overview">NHS Inform website</a>. Do not go directly to your GP, hospital or other healthcare environment.
  </p>
</div>