<div class="">
  <div class="container b-padding-full">
    {{> submission_search_header}}

    {{> submission_search_form path="/help/for-people"}}
    <p class="text-center t-margin">
      <a href="/volunteer" class="btn">Volunteer or help out in your community</a>
    </p>
    <p class="t-margin-full">
      If you have any feedback about this website please contact <a href="mailto:{{@root.data.currentSite.contacts.support}}">{{@root.data.currentSite.contacts.support}}</a>
    </p>
  </div>
</div>
<div class="bg-gray">
  <div class="container v-padding-full">
    {{!-- <div class="columns">
      <div class="column col-2 col-md-3 col-sm-4 align-centre">
        <span class="fal fa-building fa-5x" aria-hidden="true"></span>
      </div>
      <div class="column col-10 col-md-9 col-sm-8"> --}}
        <h3>
          For organisations
        </h3>
        {{> info_for_organisations}}
      {{!-- </div>
    </div> --}}
  </div>
</div>