<div class="container b-padding-full">
  <h1>Coronavirus/COVID-19</h1>
  <h2>Help in your community</h2>
  <div class="columns">
    <div class="column col-4 col-md-12">
      <h3 class="b-margin">
        For people
      </h3>
      <a href="#" class="btn btn-primary b-margin">Find non-medical help near you</a>
      <a href="#" class="btn b-margin">Volunteer or help out in your community</a>
    </div>
    <div class="column col-4 col-md-12">
      <h3 class="b-margin">
        For organisations
      </h3>
      <a href="#" class="btn b-margin">Share what help you can offer to people and professionals</a>
      <a href="#" class="btn b-margin">Share what assistance or resources you require</a>
    </div>
    <div class="column col-4 col-md-12">
      <h3 class="b-margin">
        For professionals
      </h3>
      <a href="#" class="btn b-margin">Find local organisations willing to offer non-medical help</a>
      <a href="#" class="btn b-margin">Share what assistance or resources you require</a>
    </div>
  </div>
  <p>
    If you need medical help, please follow the guidance on the <a href="https://www.nhsinform.scot/coronavirus#overview">NHS Inform website</a>. Do not go directly to your GP, hospital or other healthcare environment.
  </p>
</div>