<div class="container b-padding-full b-margin-full">
  <h2>
    For organisations
  </h2>
  <p>
    Many organisations want to help in response to the many challenges facing people, communities, and our health and care services.
  </p>
  {{> info_for_organisations}}
</div>