<div class="container b-padding-full b-margin-full">
  <h2>Volunteer or help out in your community</h2>
  <p class="t-margin-full">
    The most important things you can do to help minimise the impact of COVID-19 is follow Government advice, particularly on social distancing, as well as the principles of:
  </p>
  <ul>
    <li>Cleanliness – follow the handwashing and hygiene guidance. If you are showing any symptoms, however minor, please follow self-isolation guidance.</li>
    <li>Neighbourliness – check on your neighbours, particularly older people and vulnerable groups, to see if they need assistance. Communicating by phone / text is preferable to face-to-face contact. You may wish to print (or write) a <a href="{{~>asset_url url='pdfs/HelpYourNeighbourThroughCoronavirus.pdf'~}}">note like this</a> (<a href="{{~>asset_url url='pdfs/HelpYourNeighbourThroughCoronavirus_Large.pdf'~}}">large print version</a>) and post it through your neighbours doors.</li>
  </ul>
  <div class="text-centre">
    <a href="https://www.edenprojectcommunities.com/community-action-response" class="no-underline"><img src="{{~>asset_url url='images/coronavirus_infographic_for_website.png'~}}" alt="Community action response" /></a>
  </div>

  <p class="t-margin-full">
    You may also wish to consider:
  </p>
  <ul>
    <li>Donate to the <a href="https://nationalemergenciestrust.org.uk/coronavirus/">National Emergencies Trust Coronavirus Appeal</a></li>
    <li>Continue to <a href="https://www.scotblood.co.uk/news/covid-19-advice-for-donors/">give blood</a></li>
    <li>Donate to <a href="https://www.trusselltrust.org/">your local foodbank</a></li>
    <li>Donate to your favourite charity</li>
    <li>Look for <a href="https://search.volunteerscotland.net">general volunteering opportunities</a> currently being advertised</li>
  </ul>
  <p class="t-margin-full">
    Want to have a more formal role in responding to a crisis?
  </p>
  <ul>
    <li>Consider joining the <a href="https://reserves.redcross.org.uk/">British Red Cross Community Reserve Volunteers</a></li>
  </ul>
</div>