<div class="container">
  <h1>Volunteer</h1>
  <p>
    The most important things you can do to help minimise the impact of COVID 19 is follow the principles of:
  </p>
  <ul>
    <li>Cleanliness – follow the handwashing and hygiene guidance. If you are showing any symptoms, however minor, please follow self-isolation guidance.</li>
    <li>Neighbourliness – check on your neighbours, particularly older people and vulnerable groups, to see if they need assistance. Communicating by phone / text is preferable to face-to-face contact. You may wish to print (or write) a <a href="https://www.eadt.co.uk/polopoly_fs/1.6562216.1584270407!/image/image.jpg_gen/derivatives/landscape_630/image.jpg">note like this</a> and post it through your neighbours doors.</li>
  </ul>
  <p>
    You may also wish to consider:
  </p>
  <ul>
    <li>Donating to your local foodbank</li>
    <li>Donating to your favourite charity</li>
    <li>Volunteering with a charity which provides remote befriending and contact services</li>
    <li>Looking for <a href="https://search.volunteerscotland.net">general volunteering opportunities</a> currently being advertised</li>
  </ul>
  <p>
    Want to have a more formal role in responding to a crisis?
  </p>
  <ul>
    <li>Consider joining the <a href="https://reserves.redcross.org.uk/">British Red Cross Community Reserve Volunteers</a></li>
  </ul>
</div>