<div class="container b-padding-full b-margin-full">
  <h2>Volunteer or help out in your community</h2>
  <p class="t-margin-full">
    Following the announcements on Monday 23rd March from the Prime Minister and First Minister, it is crucial that all staff and volunteers working in the sector follow the current government advice to stay at home wherever possible and strictly limit face-to-face contact. Only services which are essential should be provided in communities. Staff and volunteers should be encouraged to look out for their neighbours, following the advice on safety.
  </p>
  <div class="text-centre">
    <a href="https://www.edenprojectcommunities.com/community-action-response" class="no-underline"><img src="{{~>asset_url url='images/coronavirus_infographic_for_website.png'~}}" alt="Community action response" /></a>
  </div>

  <p class="t-margin-full">
    You may also wish to consider:
  </p>
  <ul>
    <li>Donate to the <a href="https://nationalemergenciestrust.org.uk/coronavirus/">National Emergencies Trust Coronavirus Appeal</a></li>
    <li>Continue to <a href="https://www.scotblood.co.uk/news/covid-19-advice-for-donors/">give blood</a></li>
    <li>Donate to <a href="https://www.trusselltrust.org/">your local foodbank</a></li>
    <li>Donate to your favourite charity</li>
  </ul>
  <p class="t-margin-full">
    Want to have a more formal role in responding to a crisis?
  </p>
  <ul>
    <li>Consider joining the <a href="https://reserves.redcross.org.uk/">British Red Cross Community Reserve Volunteers</a></li>
  </ul>
</div>