<div class="mdc-card__actions">
  <div class="mdc-card__action-buttons demo-card__action-buttons--text-only mdc-card__actions--full-bleed">
    <a href="/help/submission/{{Id}}/{{title_slug}}{{> query_search}}" class="mdc-card__action">Find out more</a>
  </div>
</div>
