<ul class="fa-ul areas">
  <li class="mdc-typography--body2">
    <span class="fa-li"><span class="far fa-location-arrow fa-fw" title="Location"></span></span>
    {{#compare (length (arrayify (split areas ','))) ">" 2 ~}}
    {{inflect (length (arrayify (split areas ','))) "area" "areas" true}}
    {{else}}
    {{#each (arrayify (split areas ',')) ~}}
    {{{this}}}{{#unless @last}} and {{/unless}}
    {{/each ~}}
    {{/compare ~}}
  </li>
</ul>