<div class="mdc-card content-primary mini">
  {{> content_submission_key_info view="mini"}}
  {{> content_submission_description description=help_offered}}
  {{> content_submission_actions slug=slug Id=Id}}
</div>