<div class="search-result b-margin-full b-padding-full">
  {{> content_submission_key_info view="search_result"}}
  {{> content_submission_description limit="6rem" description=(default help_offered help_needed)}}
  {{> content_submission_actions Id=Id distance=distance action=action}}
</div>