<div class="search-result b-margin-full b-padding-full">
  <div class="{{#compare view 'widget'}}mdl-card__subtitle-text h-padding-full{{/compare}}">
    {{> content_submission_key_info type="search_result"}}
  </div>
  {{#compare (trim (getProperty @root.data.profileInfo.notes Id)) "!==" "" ~}}
    {{> content_submission_description limit="3rem" description=description}}
    {{> content_submission_notes limit="5rem"}}
  {{else}}
    {{> content_submission_description limit="6rem" description=help_offered}}
  {{/compare ~}}
  {{#unless (compare view 'widget') ~}}
  {{> content_submission_actions slug=slug Id=Id home_based=home_based distance=distance action=action}}
  {{/unless ~}}
</div>