<div id="detailed-results-container" class="container" instance_id="perm">
  {{> submission_search_header}}

  {{> submission_search_form}}

  {{> submission_search_tabs}}

  {{> submission_search_results this}}
</div>
