<div class="container b-padding-full">
  <h2>Thank you</h2>
  <p>
    Thank you for your submission of what your organisation {{#compare @root.request.body.type "needed"}}needs{{else}}can do to help{{/compare}}, it will appear on this website shortly.
  </p>
</div>