<div class="container b-padding-full">
  {{#compare @root.data.primaryResponse.hits.total ">" 0 ~}}
  <div class="content-primary">
    {{#each @root.data.primaryResponse.hits.hits ~}}
      {{> content_submission_full _source view="website" content_type=_type id=(replace _id 'ccad_' '')}}
    {{/each ~}}
  </div>

  {{!-- {{#compare @root.data.submissionSupplimentary.related.hits.total ">" 0 ~}}
  <div class="content-related">
    <h3 class="v-margin-full">
      Similar {{inflect @root.data.submissionSupplimentary.related.hits.total "submission" "submissions"}}
    </h3>
    <div class="mdc-layout-grid equal-height">
      <div class="mdc-layout-grid__inner">
        {{#each @root.data.submissionSupplimentary.related.hits.hits ~}}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          {{> content_submission_list _source hitContext="related-submission" parentDocument=_source.Id viewContext="Related"}}
        </div>
        {{/each ~}}
      </div>
    </div>
  </div>
  {{/compare ~}} --}}

  {{else}}
  <p>
    We could not find the submission you were looking for. It may have been removed or expired.
  </p>
  {{/compare ~}}
</div>